<web-app id="simple" version="2.4">
    <servlet>
        <servlet-name>Jeopardy</servlet-name>
        <servlet-class>com.ryanemitchell.jeopardy.Jeopardy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jeopardy</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>hello.html</welcome-file>
    </welcome-file-list>
</web-app>
